.App {
  text-align: center;
}

.modal{
  border-radius: 18px;
  height: 450px;
  width: 550px;
  margin: 80px auto 0px auto;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}
label{
  font-weight: bold;
  
}

input{
  width: 400px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 7px;
}
input:focus{
  outline: none;
}

.submit-button{
  width: 90px;
  height: 50px;
  border: 1px solid grey;
  background-color:dodgerblue;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.open-btn{
    width: 90px;
  height: 50px;
  border: 1px solid grey;
  background-color:dodgerblue;
  color: white;
  padding: 5px;
  border-radius: 10px;
}