.App {
  text-align: center;
}

.modal-content{
  border-radius: 18px;
  height: 450px;
  width: 550px;
  margin: 80px auto 0px auto;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25); 
  background-color: white;
  margin-top: 120px;
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Slight dim */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
label{
  font-weight: bold;
  
}

input{
  width: 400px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 7px;
}
input:focus{
  outline: none;
}

.submit-button{
  width: 90px;
  height: 50px;
  border: 1px solid grey;
  background-color:dodgerblue;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.open-btn{
    width: 90px;
  height: 50px;
  border: 1px solid grey;
  background-color:dodgerblue;
  color: white;
  padding: 5px;
  border-radius: 10px;
}